# Credenciales para la ejecución del Bot
AFIP_CUIT=
AFIP_PASSWORD=

# URLs de los servicios
AFIP_URL=https://www.afip.gob.ar
TAD_URL=https://tramitesadistancia.gob.ar

# Activa la generación de snapshots de depuración detallados en cada paso
DEVELOPER_DEBUG_MODE=false

# Configuración del entorno
NODE_ENV=development
LOG_LEVEL=info
